extends layout

block body
      div.box
            h2= title
            div.items
                  each pr in products 
                        div.item
                              img(class='img', src='image/'+pr.image)
                              div.name #{pr.name} 
                              div.cat #{pr.category}
                              div.brand #{pr.brand}
                              div.price #{pr.price} ₽     
                              button.buy Купить                         